<%@ page contentType="text/html;charset=UTF-8" %>

<div id="footerBG" align="center" valign="middle">
  <!--<div  class="LabelFooter" align="center" valign="middle" style="padding:5px;">
            <a class="Footer" href="http://binbase.fiehnlab.ucdavis.edu:8080/jira/secure/Dashboard.jspa">Report a problem</a>
          | <a class="Footer" href="http://binbase.fiehnlab.ucdavis.edu:8080/jira/secure/Dashboard.jspa">Request a feature</a>
          | <a class="Footer" href="http://binbase.fiehnlab.ucdavis.edu:8080/jira/secure/Administrators.jspa">Contact administrators</a>
  </div> -->
  <div class="LabelFooter1" align="center" valign="middle" style="padding-top:8px;">
    %{--<p>&nbsp;</p>--}%
  %{--<br>--}%
  <p style="vertical-align:bottom;" align="center" >

    <a href="http://www.gnu.org/licenses/lgpl.html">© GNU Lesser General Public License</a>

  </p>
  <p align="center" >
      <a href="http://fiehnlab.ucdavis.edu/"> <font color="#0B3861">Powered By Fiehn Lab, UC Davis</font></a>
  </p>
  </div>

</div>