html * {
    margin: 0; /*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
}

/* GENERAL */

.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}

body {
    background: #abcabc url(../images/skin/bg.png) bottom;
    color: #333;
    font: 11px verdana, arial, helvetica, sans-serif;
}

#grailsLogo {
    border: 1px solid #ccc;
    border-style: none none solid none;
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    padding: 10px;
}

a:link, a:visited, a:hover {
    color: #666;
    font-weight: bold;
    text-decoration: none;
    padding-bottom: 2px;
    padding-top: 2px;
}

h1 {
    color: #48802c;
    font-weight: normal;
    font-size: 16px;
    margin: .3em 0 .3em 0;
}

h1.subTitle {
    color: #243B0B;
    font-weight: normal;
    font-size: 12px;
    margin: .3em 0 .3em 0;
}

ul {
    padding-left: 0px;
    padding-right: 0px;
}


.contactus ul {
    padding-left: 0px;
    padding-right: 0px;    
}

.contactus li {
    padding-left: 0px;
    padding-right: 0px;
}

.contactus ul.child {
    padding-left: 10px;
    padding-right: 0px;
}

.contactus li.child {
    padding-left: 0px;
    padding-right: 0px;
}

.contactus span {
    font-size: 1.3em;
}


.controller {
    padding-bottom: 6px;
    padding-right: 10px;
    padding-left: 10px;
}

.controller-selected {
    border: 1px solid #ccc;
    background-color: #DCECCD;
    padding-bottom: 6px;
    padding-right: 10px;
    padding-left: 10px;
}


input, select, textarea {
    background-color: #DAE8DF;
    border: 1px solid #ccc;
    font: 11px verdana, arial, helvetica, sans-serif;
    margin: 2px 0;
    padding: 2px 4px;
}

select {
    padding: 2px 2px 2px 0;
}

textarea {
    width: 250px;
    height: 150px;
    vertical-align: top;
}

textarea.form {
    width: 350px;
    height: 100px;
    vertical-align: top;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
}

.body {
    float: left;
    margin: 0 15px 10px 15px;
}

/* NAVIGATION MENU */

.nav {
    margin-top: 0px;
    padding: 7px 12px;
}

.menuButton {
    font-size: 10px;
    padding: 0 5px;
}

.menuButton a {
    color: #333;
    padding: 4px 6px;
}

.menuButton a.home {
    background: url(../images/skin/house.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

.menuButton a.list {
    background: url(../images/skin/database_table.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

.menuButton a.create {
    background: url(../images/skin/database_add.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

.attachment {
    background: url(../images/skin/download.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

.ex_file {
    background: url(../images/skin/file.png) center left no-repeat;
    color: #333;
    padding-left: 18px;
}

/* MESSAGES AND ERRORS */

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

div.info {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 0px 0 0px 0;
    padding: 5px 5px 5px 30px
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}

div.errors ul {
    list-style: none;
    padding: 0;
}

div.errors li {
    background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

td.errors select {
    border: 1px solid red;
}

td.errors input {
    border: 1px solid red;
}

/* TABLES */

table {
    border: 1px solid #ccc;
    width: 100%
}

tr {
    border: 0;
}

td, th {
    font: 11px verdana, arial, helvetica, sans-serif;
    line-height: 12px;
    padding: 5px 6px;
    text-align: left;
    vertical-align: top;
}

th {
    background: #fff url(../images/skin/shadow.jpg);
    color: #666;
    font-size: 11px;
    font-weight: bold;
    line-height: 17px;
    padding: 2px 6px;
}

th a:link, th a:visited, th a:hover {
    color: #333;
    display: block;
    font-size: 10px;
    text-decoration: none;
    width: 100%;
}

th.asc a, th.desc a {
    background-position: right;
    background-repeat: no-repeat;
}

th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}

th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}


td.lable {
  width: 15%;
  align: left;
  vertical-align: top;
}

td.space {
  width: 1%;
}

td.comma {
  width: 1%;
  align: center;
  vertical-align: top;
}

td.field {
  width: 40%;
  align: left;
  vertical-align: top;
}

td.info {
  width: 45%;
  align: left;
  vertical-align: top;
}



.odd {
    background: #869875;
}

.even {
    background: #CDD1C9;
}

table.table_noborder {
    border: 0px solid #ccc;
    width: 100%
}

p.description {
    font-weight: normal;
    font-size: 11px;
    color: #000;
    margin: 0px;
    padding: 0px;
}

/* LIST */

.list table {
    border-collapse: collapse;
}

.list th, .list td {
    border-left: 1px solid #ddd;
}

.list th:hover, .list tr:hover {
    background: #b2d1ff;
}

/* PAGINATION */

.paginateButtons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-top: 0;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
}

.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}

.paginateButtons span {
    padding: 2px 3px;
}

/* DIALOG */

.dialog table {
    padding: 5px 0;
}

.prop {
    padding: 5px;
}

.prop .name {
    text-align: left;
    width: 15%;
    white-space: nowrap;
}

.prop .value {
    text-align: left;
    width: 85%;
}

/* ACTION BUTTONS */

.buttons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    color: #666;
    font-size: 10px;
    margin-top: 5px;
    overflow: hidden;
    margin-top: 2px;
    padding: 3px 4px;
}

.buttons input {
    background: #fff;
    border: 0;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;
    overflow: visible;
    white-space: nowrap;
}

.buttons input.delete {
    background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}

.buttons input.edit {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}

.buttons input.save {
    background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
    padding-left: 28px;
}

.buttons input.submit {
    background: transparent 5px 50% no-repeat;
}

.a submit {
    background: transparent 5px 50% no-repeat;
}

#pageBody {
    margin-top: 20px;
    margin-left: 280px;
    margin-right: 20px;
}

#welcomeBody {
  margin-top: 20px;
  margin-left: 280px;
  margin-right: 20px;
}

#welcomeText {
   margin-top: 5px;
   margin-left: 20px;
   margin-right: 20px;
   font-size: 1.3em;
}

#rightPanel {
    margin-top: 20px;
    margin-left: 30px;
    float: left;
}

#leftPanel {
    margin-top: 10px;
    margin-left: 30px;
    width: 228px;
    float: left;

}

h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.2em;
}

.PagePanel * {
    margin: 0px;
}

.PagePanel .panelBody ul {
    list-style-type: none;
    margin-bottom: 10px;
}

.PagePanel .panelBody h1 {
    text-transform: uppercase;
    font-size: 1.1em;
    margin-bottom: 10px;
}

.PagePanel .panelBody {
    background: url(../images/leftnav_midstretch.png) repeat-y top;
    margin: 0px;
    padding: 15px;
}

.PagePanel .panelBtm {
    background: url(../images/leftnav_btm.png) no-repeat top;
    height: 20px;
    margin: 0px;
}

.PagePanel .panelTop {
    background: url(../images/leftnav_top.png) no-repeat top;
    height: 11px;
    margin: 0px;
}

.left {
    float: left;
    width: 20%;
    margin-bottom: 6px;
    margin-top: 2px;

}

.right {
    float: right;
    width: 80%;
    margin-bottom: 6px;
    margin-top: 2px;
}

.right input {
    width: 20%;
}

.right select {
    width: 70%;
}

.right textarea {
    width: 70%;
}

.description {
    width: 100%;
    margin-bottom: 25px;

    font-size: larger;
}

.result {
    padding-top: 10px;
    width:100%;
}

.appsHeader {
    /*background: #FFFFFF url(../images/forms/HeaderBG.gif) repeat;*/
    /*border: 1px solid #ccc;*/
    color: #393B0B;
    font-weight: normal;
    font-size: 20px;
    text-align:center;
    vertical-align:middle;
    height:30px;
    margin: 7px 0 0 0;
    font-family: Arial, sans-serif;
}